/* .slider{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
 */

/* .slider__title{
position: absolute;
width: 100%;
text-align: center;
top: 4rem;
z-index: 100;
color: #fff;
text-transform: uppercase;
padding: 0 4rem;
}
 */

 

/* .slider__content--item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
} */