.LoginForm{
    display:flex;
    flex-direction: center;
    justify-content: center;
}

.formGroupExampleInput{
    display:flex;
    padding: 20px;
}

.label.formGroupExampleInput2 {
    padding: 20px;
}
.formGroupExampleInput2{
    display: flex;
    padding-bottom: 20px;

}